* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* NAV-BAR */

.navbar li {
  font-family: "VT323", monospace;
  font-size: 25px;
}

.container .navbar {
  height: 15%; /* højden på navigationsbaren  */
  display: flex; /* alle elementer står ved siden af hinanden  */
  align-items: center; /* elementerne står i midten af højden i nav-baren  */
}

.nav {
  flex: 1; /* antal rækker til nav-elementer  */
  text-align: left; /* tekst til højre  */
  margin-right: 5%; /* luft til højre fra tekst  */
  margin-top: 1.5rem;
}

nav ul li {
  display: inline-block; /* prikker forsvinder fra tekst  */
  padding: 1rem;
}

nav ul li a {
  text-decoration: none; /* linje forsvinder  */
  color: rgb(17, 0, 248);
}

ul li a:hover {
  color: rgb(0, 0, 0);
}

/* baggrund */

body {
  background-image: url(billeder/udentv.png);
  margin-left: 5rem;
  margin-right: 7.8rem;
  background-size: cover;
}

/* overskrift style */
h3 span {
  color: white;
  background-color: #000000;
  font-family: "VT323", monospace;
  font-size: 80px;
}

.kolonne h3 {
  color: rgb(0, 0, 0);
  /* background-color: #000000; */
  font-family: "VT323", monospace;
  font-size: 30px;
}

.kolonne img {
  border-radius: 7%;
  /* box-shadow: 6px 6px 12px #000000, -6px -6px 12px rgb(0, 0, 0); */
  box-shadow: 0px 0px 0px 6px #878787;
  margin-bottom: 5rem;
}

/* overskrift står hvor den skal */
.overskrift h3 {
  margin-left: 45%;
}

.kolonne .text1 {
  font-family: "Roboto", sans-serif;
  line-height: 200%;
}

/* grid til billederne */
.kolonne img {
  max-width: 100%;
}

.kolonne {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 5rem;
  margin-left: 4rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.overskrift {
  animation: glitch1 2.5s infinite;
}

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .kolonne {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    margin-top: 5rem;
    margin-left: 7rem;
    margin-top: 2rem;
    padding-bottom: 10rem;
  }

  .kolonne img {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

@media (max-width: 800px) {
  .kolonne {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    margin-top: 3rem;
    margin-left: 4rem;
    margin-top: 2rem;
    padding-bottom: 10rem;
  }

  .overskrift h3 {
    margin-left: 40%;
  }

  h3 span {
    color: white;
    background-color: #000000;
    font-family: "VT323", monospace;
    font-size: 70px;
  }
}

.text1 {
  background-color: white;
}

@media (max-width: 700px) {
  .kolonne {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    margin-top: 3rem;
    margin-left: 2%;
    margin-top: 0rem;
    padding-bottom: 10rem;
  }

  .overskrift h3 {
    margin-left: 30%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h3 span {
    color: white;
    background-color: #000000;
    font-family: "VT323", monospace;
    font-size: 60px;
  }

  nav ul li {
    display: inline-block; /* prikker forsvinder fra tekst  */
    padding: 2%;
  }
}

@media (max-width: 600px) {
  .kolonne {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 3rem;
    margin-left: 1%;
    margin-top: 0rem;
    padding-bottom: 10rem;
  }

  .overskrift h3 {
    margin-left: 30%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h3 span {
    color: white;
    background-color: #000000;
    font-family: "VT323", monospace;
    font-size: 60px;
  }

  nav ul li {
    display: inline-block; /* prikker forsvinder fra tekst  */
  }
}
